<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">
			jdbc:postgresql://ec2-79-125-6-160.eu-west-1.compute.amazonaws.com:5432/d98fr0eqrupgop?ssl=require&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory
		</property>
		<property name="hibernate.connection.username">
			tsaonhtxnlciqg
		</property>
		<property name="hibernate.connection.password">
			bc2c29fbf374dfce1922b4f11de07cd5d83113173ee92572e48251ab5f7ac3f7
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
 
        <!-- Drop and re-create all database on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
 
        <!-- Annotated entity classes -->
        <mapping class="bot.domain.Data"/>
        <mapping class="bot.domain.Info"/>
	</session-factory>
</hibernate-configuration>